In [3]:
import pandas as pd

In [4]:
data_url= "./uva.txt"
dataframe = pd.read_table(data_url)

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.

In [5]:
dataframe[:5]

,who,Newbie,Age,Gender,Household Income,Sexual Preference,Country,Education Attainment,Major Occupation,Marital Status,Years on Internet
0,id74364,0,54.0,Male,$50-74,Gay male,Ontario,Some College,Computer,Other,4-6 yr
1,id84505,0,39.0,Female,Over $100,Heterosexual,Sweden,Professional,Other,Other,1-3 yr
2,id84509,1,49.0,Female,$40-49,Heterosexual,Washington,Some College,Management,Other,Under 6 mo
3,id87028,1,22.0,Female,$40-49,Heterosexual,Florida,Some College,Computer,Married,6-12 mo
4,id76087,0,20.0,Male,$30-39,Bisexual,New Jersey,Some College,Education,Single,1-3 yr

In [6]:
dataframe.shape

(19583, 11)

In [7]:
dataframe.dtypes

who                      object
Newbie                    int64
Age                     float64
Gender                   object
Household Income         object
Sexual Preference        object
Country                  object
Education Attainment     object
Major Occupation         object
Marital Status           object
Years on Internet        object
dtype: object

In [8]:
dataframe["Marital Status"].unique()

array(['Other', 'Married', 'Single', 'Divorced', 'Widowed', nan,
       'Separated'], dtype=object)

In [9]:
dataframe.pop('who') # dataframe = dataframe.ix[:, 1:]
dataframe.dtypes

Newbie                    int64
Age                     float64
Gender                   object
Household Income         object
Sexual Preference        object
Country                  object
Education Attainment     object
Major Occupation         object
Marital Status           object
Years on Internet        object
dtype: object

In [10]:
dataframe.pop('Country')
dataframe.dtypes

Newbie                    int64
Age                     float64
Gender                   object
Household Income         object
Sexual Preference        object
Education Attainment     object
Major Occupation         object
Marital Status           object
Years on Internet        object
dtype: object

In [11]:
 dataframe.pop('Years on Internet')

0            4-6 yr
1            1-3 yr
2        Under 6 mo
3           6-12 mo
4            1-3 yr
5            1-3 yr
6            1-3 yr
7            1-3 yr
8            4-6 yr
9        Under 6 mo
10           1-3 yr
11           4-6 yr
12          6-12 mo
13       Under 6 mo
14           1-3 yr
15        Over 7 yr
16           1-3 yr
17           1-3 yr
18           4-6 yr
19           4-6 yr
20        Over 7 yr
21          6-12 mo
22           1-3 yr
23           1-3 yr
24           1-3 yr
25        Over 7 yr
26           1-3 yr
27        Over 7 yr
28           1-3 yr
29           4-6 yr
            ...
19553        1-3 yr
19554       6-12 mo
19555        1-3 yr
19556       6-12 mo
19557        1-3 yr
19558        1-3 yr
19559        1-3 yr
19560        4-6 yr
19561       6-12 mo
19562        4-6 yr
19563        1-3 yr
19564        4-6 yr
19565        1-3 yr
19566    Under 6 mo
19567        4-6 yr
19568     Over 7 yr
19569    Under 6 mo
19570       6-12 mo
19571        1-3 yr
19572     Over 7 yr
19573        1-3 yr
19574        1-3 yr
19575        1-3 yr
19576       6-12 mo
19577        1-3 yr
19578        4-6 yr
19579        4-6 yr
19580        1-3 yr
19581    Under 6 mo
19582        1-3 yr
Name: Years on Internet, Length: 19583, dtype: object

In [12]:
dataframe.dtypes

Newbie                    int64
Age                     float64
Gender                   object
Household Income         object
Sexual Preference        object
Education Attainment     object
Major Occupation         object
Marital Status           object
dtype: object

In [13]:
dataframe["Gender"] = dataframe["Gender"].astype("category") 
dataframe.dtypes

Newbie                     int64
Age                      float64
Gender                  category
Household Income          object
Sexual Preference         object
Education Attainment      object
Major Occupation          object
Marital Status            object
dtype: object

In [16]:
for col in ['Household Income', 'Sexual Preference', 'Education Attainment', 'Major Occupation', 'Marital Status'] 
    dataframe[col] = dataframe[col].astype('category') 
dataframe.dtypes
'Major Occupation

SyntaxError: invalid syntax (<ipython-input-16-63b95b1e1fd7>, line 1)